<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
    <% # should properly be with their components, but doesn't work with asset bundling %>
    
    <%= css_include_tag 'emt',
                        'event',
                        'assemble',
                        "#{::RepertoireCore.public_path_for(:stylesheet)}/rep.ajax-validate", 
                        "#{::RepertoireCore.public_path_for(:stylesheet)}/core",
                        'lib/smoothness/jquery-ui-1.7.2.custom'
                        # :bundle => true      # cant bundle because of url refs in css
                        %>
    
    <% # load jquery before dependents %>
    <%= js_include_tag "#{::RepertoireCore.public_path_for(:javascript)}/lib/jquery",
                       'ajax-load',
                       'assemble',
                       'rep.input_listener',
                       'emt_event_format',
                       "#{::RepertoireCore.public_path_for(:javascript)}/rep.ajax-validate",
                       "#{::RepertoireCore.public_path_for(:javascript)}/lib/jquery.form",
                       'lib/jquery-ui-1.7.2.custom.min.js',
                       'lib/jquery.metadata',
                       'lib/jquery.hint',
                       'lib/jquery.scrollTo',
                       'lib/jeditable',
                       'lib/jquery.autogrow',
                       'lib/jquery.jeditable.autogrow.js',
                       'lib/template', :bundle => true %>
                       
   <% # configure Simile Timeline %>
   <script type="text/javascript">
     <%# TODO.  does Simile require fully-qualified host name here? %>
     Timeline_ajax_url="/javascripts/lib/timeline/timeline_ajax/simile-ajax-api.js";
     Timeline_urlPrefix="/javascripts/lib/timeline/timeline_js/";       
     Timeline_parameters="bundle=true";
   </script>
   <%= js_include_tag 'lib/timeline/timeline_js/timeline-api' %>
   
    <script type="text/javascript">
      $().ready(function() {
        $('.assemble').assemble();
      });
    </script>
    
    <title><%= @page_title || 'Emergent Time' %></title>
  </head>
  <body class="emt">
	  <div id="container">
  	  <div id="header">
        <div id="projectname">
          <a href="<%= url(:events) %>"><h1>Emergent Time</h1></a>
          <div id="byline">A collaborative timelining tool for humanists and social scientists.  <a id="docs" class="assemble" href="/docs/intro.html">Read more...</a></div>
        </div>
        <div id="logo"><a href="<%= url(:events) %>"><img src="<%= ::RepertoireCore.public_path_for(:image) %>/hyperstudio.jpg" /></a></div>
        <div id="navigation">
          <% if session.user %>
            <%= link_to('My timelines', resource(session.user, :timelines)) %>
            <%= link_to('Profile', slice_url(:repertoire_core, :user, :shortname => session.user.shortname)) %>
            <%= link_to('Log off', slice_url(:merb_auth_slice_password, :logout)) %>
          <% else %>
            <%= link_to('Sign in', slice_url(:merb_auth_slice_password, :login)) %>
            <%= link_to('Register', slice_url(:repertoire_core, :signup)) %>
          <% end %>
          <script language="javascript">$().ready(function() { $('#search_box input:text').hint(); });</script>
          <div id='search_box'>
            <form action='<%= url(:events) %>' method='get'>
              <input id='term' name='q' type='text' title='Search' value='<%= @search_term %>' autocomplete=off />
              <input src='/images/search.png' type='image' />
            </form>
          </div>
        </div>  
        <div class="clear"></div>
      </div>  
      <div id="content"><%= catch_content :for_layout %></div>
      <div class="clear"></div>
    </div>
  </body>
</html>